@charset "UTF-8";

body {
            background-color: rgb(17, 17, 17);
            font-family: Arial, Helvetica, sans-serif;
            
          
        }
        h1{
          color: aliceblue;
          display: flex;
          justify-content: center
        }
       p{
          color: aliceblue;
          display: flex;
          justify-content:center;
           
    
       }
       a {
          text-decoration: none;
          color: aliceblue;
       }